
@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeIn{
  animation: bounceInLeft 1s;
	animation-fill-mode: forwards;
}

/*  公用列表样式 */
.fr{
  float:right;
}
.mr-middle{
  margin-right:8px;
}
.text-danger{
  color:red;
}
.scrollList {
  padding:0;
  margin: 0;
}
.scrollList .am-card-body{
  position: initial;
}
.scrollList-title{
  margin: 20px 0 0;
  padding: 0 12px;
  height: 36px;
  line-height: 36px;
}
.scrollList-item{
  padding:12px;
  border-bottom:1px solid #ccc;
}
.scrollList-item .sub-title{
  margin-bottom:8px;
}
.scrollList-item .am-flexbox{
  min-height:30px;
  line-height:30px;
}
.scrollList-item .am-flexbox span{
  margin-left: 8px;
}
.grid{
  padding:20px;
}
.grid>div{
  text-align:left;
}
.grid-gap{
  margin-bottom:15px;
}
.hr{
  border: 0;
  height: 1px;
  background: #e0e0e0;
}
.button-gap{
  margin-left:4px;
  margin-right:4px;
}
.grid-label{
  width:20%;
  display:inline-block;
}
.grid-content-inline{
  width:17%;
  margin-left:3%;
}
.grid-content-noneLabel{
  width:20%;
}
.scrollList-item  .am-list-item .am-input-control input{
    border: 1px solid #ccc;
    border-radius: 5px;
}
.scrollList-item .am-list-item.am-input-item{
  padding-left:0 !important;
}

.am-list-line:after,.scrollList-item .am-list-line:after,.am-list-body div:not(:last-child) .am-list-line{
    background:none !important;
    border:0 !important;
}

.list-item{
  display: flex;
}
.list-item .list-item-label{
  width: 240px;
}
.list-item .list-item-info{
  width: 100%;
}
.list-center-item .am-list-line .am-list-content{
  text-align: center !important;
}
/* nav Header 上一个 下一个 */
.navHeader_btn{
  display: flex;
  align-items: center;
}
.navHeader_btn_disabled{
  display: flex;
  align-items: center;
  color: #ccc;
}

#root {
   touch-action: pan-y;
}